.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
    height: 40px;
}

#slider{
    width: 100%;
}

button{
    color: yellow;
    background-color: red;
    font-weight: 200;
}

.container{
    width: 90%;
    
}